*.tfvars
EKS/results/*.log
EKS/*.tfvars
EKS/terraform.tfstate
EKS/terraform.tfstate.backup
EKS/.terraform/

ECR/results/*.log
ECR/*.tfvars
ECR/terraform.tfstate
ECR/terraform.tfstate.backup
ECR/.terraform/

Network/results/*.log
Network/*.tfvars
Network/terraform.tfstate
Network/terraform.tfstate.backup
Network/.terraform/
